<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{chinese_name}}数据报告</title>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <link rel="stylesheet" href="../static/css/comon0.css">
</head>
<script>
    $(window).load(function () {
        $(".loading").fadeOut()
    });

    $(document).ready(function () {
        var whei = $(window).width();
        $("html").css({fontSize: whei / 20});
        $(window).resize(function () {
            var whei = $(window).width();
            $("html").css({fontSize: whei / 20})
        });
    });
</script>
<script type="text/javascript" src="../static/js/echarts.min.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<link  rel="stylesheet"  type="text/css"  href="/static/layui/css/layui.css">
<body>

<div class="loading">
    <div class="loadbox"><img src="../static/picture/loading.gif"> 页面加载中...</div>
</div>
<div class="head">
    <h1>{{chinese_name}}球员数据统计</h1>
    <div class="weather"><!--<img src="picture/weather.png"><span>多云转小雨</span>--><span id="showTime"></span></div>

    <script>
        var t = null;
        t = setTimeout(time, 1000);//開始运行
        function time() {
            clearTimeout(t);//清除定时器
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();//获取时
            var m = dt.getMinutes();//获取分
            var s = dt.getSeconds();//获取秒
            document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "-" + h + "时" + m + "分" + s + "秒";
            t = setTimeout(time, 1000); //设定定时器，循环运行
        }
    </script>


</div>
<div class="mainbox">
    <ul class="clearfix">
        <li>
            <div class="boxall" style="height: 5rem;width: 5rem">
                <div class="alltitle" style="color: #ffeb7b">{{chinese_name}}历年薪资情况</div>
                <div class="allnav" id="bar_chart" style="width: 800px;height: 600px;"></div>
                <div class="boxfoot"></div>
            </div>
            <div class="boxall" style="height: 5rem;width: 5rem">
                <div class="alltitle" style="color: #ffeb7b">{{chinese_name}}生涯数据情况</div>
                <div class="allnav" id="line_chart" style="width: 800px;height: 600px;"></div>
                <div class="boxfoot"></div>
            </div>

        </li>
        <li>
            <div class="bar">
                <div class="barbox">
                    <ul class="clearfix">
                        <li class="pulll_left counter"></li>
                        <li class="pulll_left counter"></li>
                    </ul>
                </div>
                <div class="barbox2">
                    <ul class="clearfix">
                        <li class="pulll_left"></li>
                        <li class="pulll_left"></li>
                    </ul>
                </div>
            </div>
                     <div class="map">
                <div   align="center" ><img width="300px" height="400px" src="../static/player_images/{{id}}.jpg"></div>
                <div   align="center" >
                   {% for key,value in detail_ilnformation.items() %}
                    <div align="left" style="width: 400px">
                    <span style="font-size: 15px;color: #ffeb7b;text-align: center">{{key}}</span> <span style="color: #00FFFF">:{{value}}<br> <br> </span>
                    </div>
                    {% endfor %}

                </div>
                <div >bbbb</div>
                <div class="map4" id="map_1"></div>
            </div>
        </li>
        <li>
            <div class="boxall" style="height: 5rem;width: 5rem">
                <div class="alltitle"style="color: #ffeb7b">赛季各区段分布情况</div>
                <div class="layui-input-inline">
        <select id="year" name="modules" lay-verify="required" lay-search="" onchange="doSome();">
          <option class="get_year" value="">直接选择或搜索选择</option>
          <option class="get_year" value="2018,2019">18-19</option>
          <option class="get_year" value="2017,2018">17-18</option>
          <option class="get_year" value="2016,2017">16-17</option>
          <option class="get_year" value="2015,2016">15-16</option>
          <option class="get_year" value="2014,2015">l4-15</option>
          <option class="get_year" value="2013,2014">13-14</option>
          <option class="get_year" value="2012,2013">12-13</option>
<!--          <option value="8">11-12</option>-->
<!--          <option value="9">10-11</option>-->
<!--          <option value="10">9-10</option>-->
<!--          <option value="11">8-9</option>-->
<!--          <option value="12">7-8</option>-->
<!--          <option value="13">6-7</option>-->

        </select>
      </div>
                <div class="allnav" id="pie_chart" style="width: 800px;height: 600px;"></div>
                <div class="boxfoot"></div>
            </div>

            <div class="boxall" style="height: 5rem;width: 5rem">
                <div class="alltitle" style="color: #ffeb7b">{{chinese_name}}生涯 投篮分布图</div>
                <div class="allnav" id="scatter_chart" style="width: 800px;height: 600px;"></div>
                <div class="boxfoot"></div>
            </div>
        </li>
    </ul>
</div>
<div class="back"></div>



<script type="text/javascript">
        var id ={{id}};
        var english_name = '{{english_name}}';
        var chinese_name = '{{chinese_name}}';
        var my_bar_chart = echarts.init(document.getElementById("bar_chart"),"dark");
        var my_scatter_chart = echarts.init(document.getElementById("scatter_chart","dark"));
        var my_line_chart =  echarts.init(document.getElementById("line_chart","dark"));
        var my_pie_chart = echarts.init(document.getElementById("pie_chart","dark"));




var line_chart_option = {

    title:{
        text:'得分数据',
        textAlign:'auto',
    },
    tooltip:{
        trigger: 'axis'
    },
    xAxis: {
        type: 'category',

    },
    yAxis: {
        type: 'value'
    },
     dataZoom: [
        {
            type: 'slider',
            xAxisIndex: 0,
            start:0,
            end: 100
        },
        {
            type: 'inside',
            xAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'slider',
            yAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'inside',
            yAxisIndex: 0,
            start: 0,
            end: 100
        }
    ],
    series: []
};
var scatter_chart_option = {
    xAxis: {},
    yAxis: {},
     dataZoom: [
        {
            type: 'slider',
            xAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'inside',
            xAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'slider',
            yAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'inside',
            yAxisIndex: 0,
            start: 0,
            end: 100
        }
    ],
    series: [
    {
        symbolSize: 20,
        data:[],










        type: 'scatter'
    },
    {
        symbolSize: 20,
        data:[],










        type: 'scatter'
    }




    ]
};
var bar_chart_option = {
    title: {
        text: '单位/万美元'
    },
    tooltip: {},
    legend: {
        data:['薪资情况']
    },
    xAxis: {
        data: []
    },
    yAxis: {},
    dataZoom: [
        {
            type: 'slider',
            xAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'inside',
            xAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'slider',
            yAxisIndex: 0,
            start: 0,
            end: 100
        },
        {
            type: 'inside',
            yAxisIndex: 0,
            start: 0,
            end: 100
        }
    ],
    series: [{
        name: '销量',
        type: 'bar',
        data: []
    }]
};
my_scatter_chart.setOption(scatter_chart_option);
my_scatter_chart.showLoading();
my_line_chart.setOption(line_chart_option);
my_line_chart.showLoading();
my_bar_chart.setOption(bar_chart_option);

//柱状图数据加载
 $(function(){
           $.ajax({
            //请求方式
            type : "GET",
            //请求的媒体类型
            contentType: "json",
            //请求地址
           url : "http://localhost:5000/player_salary?id="+id,
            //url : "http://localhost:5000/player_salary？id="+id,


            //请求成功
            success : function(result) {
                 var json = jQuery.parseJSON(result);
             my_bar_chart.setOption(
                 {
                     xAxis: {
                         data: json.years
                             },
                     series: [{

                            name: '薪资情况',
                            data: json.salary
                            }]
                 }
             );


            },
            //请求失败，包含具体的错误信息
            error : function(e){
                alert("faile");
            }
        });


})
//折线图数据加载
 $(function(){
           $.ajax({
            //请求方式
            type : "GET",
            //请求的媒体类型
            contentType: "json",
            //请求地址
            url : "http://localhost:5000/all_data?id="+id,

            //"http://localhost:5000/all_data?id="+id,

            //请求成功
            success : function(result) {
                 var json = jQuery.parseJSON(result);
             my_line_chart.setOption(
                 {
                     xAxis: {
                         data: json.ids
                             },
                     series: [
                           {
                            type:'line',
                            name: '得分',
                            data: json.scores
                            },
                              {
                               type:'line',
                            name: '篮板',
                            data: json.boards
                            },
                             {
                             type:'line',
                            name: '助攻',
                            data: json.assists
                            },
                            ]
                 }
             );
                   my_line_chart.hideLoading();

            },
            //请求失败，包含具体的错误信息
            error : function(e){
                alert("faile");
            }
        });


})





//饼图数据加载

//散点图数据加载
$(function(){
           $.ajax({
            //请求方式
            type : "GET",
            //请求的媒体类型
            contentType: "json",
            //请求地址
            url : "http://localhost:5000/get_scatter?id="+id+"&englishname="+english_name,

            //"http://localhost:5000/all_data?id="+id,

            //请求成功
            success : function(result) {
                 var json = jQuery.parseJSON(result);
my_scatter_chart.setOption(
                 {
                    backgroundColor: '#FFF',
                     series: [
    {
        symbolSize: 20,
        data:json.made,
        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(120, 36, 50, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgba(251, 118, 123,0.1)'
                }, {
                    offset: 1,
                    color: 'rgba(204, 46, 72,0.1)'
                }])
            }
        },









        type: 'scatter'
    },
    {
        symbolSize: 20,
        data:json.no_made,

        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(25, 100, 150, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgba(129, 227, 238,0.1)'
                }, {
                    offset: 1,
                    color: 'rgba(25, 183, 207,0.1)'
                }])
            }
        },






        type: 'scatter'
    }




    ]
                 }
             );

    my_scatter_chart.hideLoading();

            },
            //请求失败，包含具体的错误信息
            error : function(e){
                alert("faile");
            }
        });


})


//点击事件
function doSome(){
var array = $("#year option:selected").val().split(',')//方法一：获取select标签选中的option中的value的值。
               var a = array[0];
                var b= array[1];


        $(function(){
           $.ajax({
            //请求方式
            type : "GET",
            //请求的媒体类型
            contentType: "json",
            //请求地址
            url : "http://localhost:5000/score_division?year1="+a+"&year2="+b,


            //请求成功
            success : function(result) {
                 var json = jQuery.parseJSON(result);
             my_pie_chart.setOption(
                 {
                     backgroundColor: '#000',
                     title : {
                     text: 'nba球员得分分布',
                     subtext: '由stat——nba提供',
                     x:'center'
                 },
                 tooltip : {

        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },

    legend: {
        orient: 'vertical',
        left: 'left',

    },
    series : [
        {
            name: '访问来源',
            type: 'pie',
            radius : '55%',
            center: ['50%', '60%'],

            data:json.data,
            itemStyle: {
                emphasis: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    // shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }
    ]
                 }
             );


            },
            //请求失败，包含具体的错误信息
            error : function(e){
                alert("faile");
            }
        });


})



               }






</script>



</body>
</html>
